* {
    box-sizing: border-box;

}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
}


.section1, .footer {
    background-color: #1f2937;
    
}

.section1 {
    padding: 8px 36px 24px 36px;
    height: auto;
    word-break:normal
}


.s1_body {
    display: flex;
    justify-content: center;
    gap: 26px;
    margin-top: 75px;
    margin-bottom: 75px;
}

.s1_header {
    display: flex;
    justify-content: space-between;
    max-width: 50%;
    margin: 0 auto;
}

.s1_left, .s1_right {
    max-width: 25%;
}

.s1_left {
    width: 50%;
}

.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

a {
    
    text-decoration: none;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;

}


h1 {
    font-size: 48px;
    font-weight:900;
    color: #f9faf8;
    margin: 0;

}

a, p.s1 {
    font-size: 18px;
    color: #E5E7EB;
    margin: 0;
}

#placeholder {
    padding: 16px;
    text-align: center;
}

button, .call {
    background-color: #3882F6 ;
    
}

button.Sign {
    margin-top: 8px;
    border-radius: 5px;
    color: white;
    padding: 8px 16px;
    font-weight: 700;
    border:none;
}

.s1_right {
    background-color: rgb(117, 115, 115);
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


.section2 {
    text-align: center;
    justify-content: space-between;
    height: auto;

}

.s2_header {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    padding: 32px 32px 0px 32px;

}

.s2_container {
    display: flex;
    justify-content: center;
    padding: 16px;
    gap: 54px;
    width: 100%;
}



.item {
    max-width: 150px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.whitebox {
    height: 150px;
    width: 150x;
    border: 4px solid #3882F6;
    border-radius: 10px;
    background-color: white;
}



.section3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E5E7EB;
    height: auto;
}

p.quote {
    font-size: 36px;
    font-weight: 350;
    font-style: italic;
    columns: #1f2937;
    max-width: 38vw;
    margin: 0 auto;
    margin-bottom: 18px;
    
}


cite {
    font-style:normal;
    display: block;
    font-size: 20px;
    font-weight: 700;
    text-align: right;
}

.quote {
    display: flex;
    flex-direction: column;
    margin-top: 48px;
    margin-bottom: 48px;
}

.section4 {
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    width: 45vw;
    display: flex;
    justify-content: space-between;
    padding: 8px 75px;
    border-radius: 10px;
}

p.head {
    font-size: 18px;
    font-weight: 600;
    color: #f9faf8;
    margin-bottom: 4px;
    margin-top: 24px;

}


button.callbutton {
    border-radius: 5px;
    color: #f9faf8;
    font-weight: 700;
    border: 2px solid #f9faf8;
    margin: 32px;
    padding: 8px 20px;

}

p.sign {
    margin: 0;
    color: #f9faf8;
}
.footer {
    height: auto;
    color: #f9faf8;
    font-weight: 500;
    text-align: center;
}


.burgermenu {
    display: none;
    color: white;
}
@media (max-width:900px) {

    .s1_body {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 26px;
        margin-top: 75px;
        margin-bottom: 75px;
    }

   
    
}



@media (max-width:500px) {

    .s2_container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .call {
        flex-direction: column;
        padding: 8px 16px;
        width: 80%
    }
    
   .s1_left, .s1_right {
    min-width: 100%;
   } 

   .s1_header {
    max-width: 100%;
   }
    .links {
        display: none;

    }

    .burgermenu {
        display:flex;
        flex-direction: column;
        line-height: 5px;
    }


}